<nav>
  <p>{{ hello }} {{ user?.name }}</p>
</nav>
<aside>
  <div class="logo">
    <h1>Dashboard</h1>
    <img src="https://storage.susumo.com.br/images/susumo/logo/icon.png">
  </div>
  <div class="content">
    <ul>
      <li><a routerLink="/">Home <i class="material-icons">dashboard</i></a></li>
      <li><a routerLink="/dashboard/settings">Settings <i class="material-icons">settings</i></a></li>
      <li class="pointer" (click)="logOut()"><a>Logout <i class="material-icons">logout</i></a></li>
    </ul>
  </div>
</aside>
<section class="py-2" *ngIf="!loading">
  <router-outlet></router-outlet>
</section>
<section class="d-flex align-items-center justify-content-center" *ngIf="loading">
  <div class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</section>